### Homework 1 (due 06 Sep 2023)

In [1]:
# File: HWK1.ipynb

# Student: Vaishnavi Sathiyamoorthy

# UT EID: vs25229

# Date Created: 8/30/2023

# Date Last Modified: 8/30/2023

In [2]:
# import libraries
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# read data file 'Canada.xlsx' and create a data frame
%cd /content/drive/MyDrive/'2023-2024 Senior Year'/'Data Visualization'/'Homework 1'
df = pd.read_excel('Canada.xlsx', sheet_name = 'Canada by Citizenship (2)')

/content/drive/MyDrive/2023-2024 Senior Year/Data Visualization/Homework 1

In [4]:
# get the size of the dataframe (rows, cols)
df.shape

(195, 43)

In [5]:
# get the head of the dataframe
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [6]:
# get the tail of the dataframe
df.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [7]:
# get the information on the dataframe
df.info (verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 43 entries, Type to 2013
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

In [8]:
# get a description of the dataframe
df.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,912.764103,1249.015385,901.753846,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,...,1190.169231,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564
std,13.082835,1185.526885,0.431878,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,...,3710.505369,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.000000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,19.000000,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000
50%,908.000000,922.000000,902.000000,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,...,191.000000,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000
75%,922.000000,925.500000,902.000000,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,...,756.500000,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000
max,935.000000,5501.000000,902.000000,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,...,36619.000000,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000

In [9]:
# get a list of column headers
df.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

In [10]:
# get a list of indices
df.index

RangeIndex(start=0, stop=195, step=1)

In [11]:
# drop unnecessary columns
# in pandas: rows is axis =0 and columns is axis = 1
df.drop (['Type', 'Coverage', 'AREA', 'REG', 'DEV', 'DevName'], axis = 1, inplace = True)

In [12]:
# check the deletion of unnecessary columns
df.head()

,OdName,AreaName,RegName,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,1,0,0,0,0,0,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,...,0,0,1,1,0,0,0,0,1,1

In [13]:
# rename column names
df.rename (columns = {'OdName':'Country', 'AreaName':'Continent', 'RegName': 'Region'}, inplace = True)

In [14]:
# check if columns were renamed
df.head()

,Country,Continent,Region,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,1,0,0,0,0,0,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,...,0,0,1,1,0,0,0,0,1,1

In [15]:
# add a column at the end giving the total number of immigrants for each country
df['Total'] = df.sum (axis = 1, numeric_only = True)

In [16]:
# check if column was added
df.head()

,Country,Continent,Region,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15

In [17]:
# change the index to be the name of the country
df.set_index ('Country', inplace = True)

In [18]:
# check if the index was changed
df.head()

,Continent,Region,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,741,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,1,0,0,0,0,0,1,2,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,132,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,0,...,0,1,1,0,0,0,0,1,1,15

In [19]:
# get a slice of the data
df.loc ['Costa Rica']

Continent    Latin America and the Caribbean
Region                       Central America
1980                                      28
1981                                      35
1982                                      42
1983                                      51
1984                                      75
1985                                     113
1986                                      79
1987                                     116
1988                                     104
1989                                      92
1990                                      99
1991                                     156
1992                                     216
1993                                     184
1994                                      83
1995                                      89
1996                                     118
1997                                     135
1998                                     103
1999                                     100
2000                                     106
2001                                     134
2002                                     106
2003                                     105
2004                                     165
2005                                     188
2006                                     279
2007                                     281
2008                                     246
2009                                     217
2010                                     190
2011                                     149
2012                                     183
2013                                     122
Total                                   4489
Name: Costa Rica, dtype: object

In [20]:
# get data for only certain years
df.loc ['Greece', [1981, 1988, 1994, 1999]]

1981    953
1988    564
1994    275
1999    149
Name: Greece, dtype: object

In [21]:
# convert column names into strings
df.columns = list (map (str, df.columns))

In [22]:
# create a condition
cond = (df['Continent'] == 'Asia')
print (cond)

Country
Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
Viet Nam           True
Western Sahara    False
Yemen              True
Zambia            False
Zimbabwe          False
Name: Continent, Length: 195, dtype: bool

In [23]:
# create a compound condition using Boolean operators: ~ (not), & (and), | (or)
cond = df[(df['Continent'] == 'Asia') & (df['Region'] == 'Southern Asia')]
print (cond)

                           Continent         Region  1980  1981  1982  1983  \
Country
Afghanistan                     Asia  Southern Asia    16    39    39    47
Bangladesh                      Asia  Southern Asia    83    84    86    81
Bhutan                          Asia  Southern Asia     0     0     0     0
India                           Asia  Southern Asia  8880  8670  8147  7338
Iran (Islamic Republic of)      Asia  Southern Asia  1172  1429  1822  1592
Maldives                        Asia  Southern Asia     0     0     0     1
Nepal                           Asia  Southern Asia     1     1     6     1
Pakistan                        Asia  Southern Asia   978   972  1201   900
Sri Lanka                       Asia  Southern Asia   185   371   290   197

                            1984  1985  1986   1987  ...   2005   2006   2007  \
Country                                              ...
Afghanistan                   71   340   496    741  ...   3436   3009   2652
Bangladesh                    98    92   486    503  ...   4171   4014   2897
Bhutan                         1     0     0      0  ...      5     10      7
India                       5704  4211  7150  10189  ...  36210  33848  28742
Iran (Islamic Republic of)  1977  1648  1794   2989  ...   5837   7480   6974
Maldives                       0     0     0      0  ...      0      0      2
Nepal                          2     4    13      6  ...    607    540    511
Pakistan                     668   514   691   1072  ...  14314  13127  10124
Sri Lanka                   1086   845  1838   4447  ...   4930   4714   4123

                             2008   2009   2010   2011   2012   2013   Total
Country
Afghanistan                  2111   1746   1758   2203   2635   2004   58639
Bangladesh                   2939   2104   4721   2694   2640   3789   65568
Bhutan                         36    865   1464   1879   1075    487    5876
India                       28261  29456  34235  27509  30933  33087  691904
Iran (Islamic Republic of)   6475   6580   7477   7479   7534  11291  175923
Maldives                        1      7      4      3      1      1      30
Nepal                         581    561   1392   1129   1185   1308   10222
Pakistan                     8994   7217   6811   7468  11227  12603  241600
Sri Lanka                    4756   4547   4422   3309   3338   2394  148358

[9 rows x 37 columns]

**Q. 1 (10 points)**  
Add a row at the bottom of the dataframe that gives the total immigration for each year from 1980 to 2013.

In [24]:
df.loc["Total"] = df.sum()
df.iloc[195, :2] = np.nan
df

,Continent,Region,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,741,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,1,0,0,0,0,0,1,2,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,132,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,0,...,0,1,1,0,0,0,0,1,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,Africa,Northern Africa,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
Yemen,Asia,Western Asia,1,2,1,6,0,18,7,12,...,161,140,122,133,128,211,160,174,217,2985
Zambia,Africa,Eastern Africa,11,17,11,7,16,9,15,23,...,91,77,71,64,60,102,69,46,59,1677
Zimbabwe,Africa,Eastern Africa,72,114,102,44,32,29,43,68,...,615,454,663,611,508,494,434,437,407,8598
Total,NaN,NaN,99137,110563,104271,75550,73417,69978,86048,134771,...,257457,247057,232405,243047,248768,276956,246194,256222,257537,6409153

**Q. 2 (10 points)**  
For each year find the maximum number of immigrants and the country that had the maximum number of immigrants. Create a new dataframe having three columns - year, country, and number of immigrants. For a given year, if there are two or more countries having the same maximum number of immigrants, then choose that country that comes first in alphabetical order.

In [37]:
new_df = {"year" : df.columns[2:-1],
          "country": df.iloc[:-1, 2:-1].idxmax(),
          "number of immigrants" : df.iloc[:-1, 2:-1].max()}
max_immigrants = pd.DataFrame(new_df)
max_immigrants.set_index('year', inplace=True)
max_immigrants

                                                country  number of immigrants
year
1980  United Kingdom of Great Britain and Northern I...                 22045
1981  United Kingdom of Great Britain and Northern I...                 24796
1982  United Kingdom of Great Britain and Northern I...                 20620
1983  United Kingdom of Great Britain and Northern I...                 10015
1984  United Kingdom of Great Britain and Northern I...                 10170
1985  United Kingdom of Great Britain and Northern I...                  9564
1986  United Kingdom of Great Britain and Northern I...                  9470
1987  United Kingdom of Great Britain and Northern I...                 21337
1988  United Kingdom of Great Britain and Northern I...                 27359
1989  United Kingdom of Great Britain and Northern I...                 23795
1990  United Kingdom of Great Britain and Northern I...                 31668
1991  United Kingdom of Great Britain and Northern I...                 23380
1992  United Kingdom of Great Britain and Northern I...                 34123
1993  United Kingdom of Great Britain and Northern I...                 33720
1994  United Kingdom of Great Britain and Northern I...                 39231
1995  United Kingdom of Great Britain and Northern I...                 30145
1996  United Kingdom of Great Britain and Northern I...                 29322
1997  United Kingdom of Great Britain and Northern I...                 22965
1998                                              China                 21049
1999                                              China                 30069
2000                                              China                 35529
2001                                              China                 36434
2002                                              China                 31961
2003                                              China                 36439
2004                                              China                 36619
2005                                              China                 42584
2006                                              India                 33848
2007                                              India                 28742
2008                                              China                 30037
2009                                              China                 29622
2010                                        Philippines                 38617
2011                                        Philippines                 36765
2012                                        Philippines                 34315
2013                                              China                 34129

**Q. 3 (10 points)**   
For each year find the total, mean, standard deviation, maximum, minimum, and range (max - min). Create a new dataframe having columns - year, total, mean, standard deviation, maximum, minimum, and range.

In [26]:
new_df = {'year' : df.columns[2:-1],
          'total': df.iloc[-1, 2:-1],
          'mean' : df.iloc[:-1, 2:-1].mean(),
          'standard deviation' : df.iloc[:-1, 2:-1].std(),
          'maximum' : df.iloc[:-1, 2:-1].max(),
          'minimum' : df.iloc[:-1, 2:-1].min(),
          'range' : (df.iloc[:-1, 2:-1].max() - df.iloc[:-1, 2:-1].min())
          }
stats = pd.DataFrame(new_df)
stats

      year   total         mean  standard deviation  maximum  minimum  range
1980  1980   99137   508.394872         1949.588546    22045        0  22045
1981  1981  110563   566.989744         2152.643752    24796        0  24796
1982  1982  104271   534.723077         1866.997511    20620        0  20620
1983  1983   75550   387.435897         1204.333597    10015        0  10015
1984  1984   73417   376.497436         1198.246371    10170        0  10170
1985  1985   69978   358.861538         1079.309600     9564        0   9564
1986  1986   86048   441.271795         1225.576630     9470        0   9470
1987  1987  134771   691.133333         2109.205607    21337        0  21337
1988  1988  139306   714.389744         2443.606788    27359        0  27359
1989  1989  164432   843.241026         2555.048874    23795        0  23795
1990  1990  188054   964.379487         3158.730195    31668        0  31668
1991  1991  207509  1064.148718         2952.093731    23380        0  23380
1992  1992  221687  1136.856410         3330.083742    34123        0  34123
1993  1993  222049  1138.712821         3495.220063    33720        0  33720
1994  1994  193665   993.153846         3613.336444    39231        0  39231
1995  1995  187712   962.625641         3091.492343    30145        0  30145
1996  1996  200085  1026.076923         3321.045004    29322        0  29322
1997  1997  192885   989.153846         3070.761447    22965        0  22965
1998  1998  160727   824.241026         2385.943695    21049        0  21049
1999  1999  179818   922.143590         2887.632585    30069        0  30069
2000  2000  216712  1111.343590         3664.042361    35529        0  35529
2001  2001  242643  1244.323077         3961.621410    36434        0  36434
2002  2002  223111  1144.158974         3660.579836    31961        0  31961
2003  2003  217297  1114.343590         3623.509519    36439        0  36439
2004  2004  232083  1190.169231         3710.505369    36619        0  36619
2005  2005  257457  1320.292308         4425.957828    42584        0  42584
2006  2006  247057  1266.958974         3926.717747    33848        0  33848
2007  2007  232405  1191.820513         3443.542409    28742        0  28742
2008  2008  243047  1246.394872         3694.573544    30037        0  30037
2009  2009  248768  1275.733333         3829.630424    29622        0  29622
2010  2010  276956  1420.287179         4462.946328    38617        0  38617
2011  2011  246194  1262.533333         4030.084313    36765        0  36765
2012  2012  256222  1313.958974         4247.555161    34315        0  34315
2013  2013  257537  1320.702564         4237.951988    34129        0  34129

**Q. 4 (10 points)**   
For the Scandinavian countries - Denmark, Norway, and Sweden - print the name of the country and the total immigration for each of these countries.

In [27]:
df.loc[['Denmark', 'Norway', "Sweden"], 'Total']

Country
Denmark    3901
Norway     2327
Sweden     5866
Name: Total, dtype: int64

**Q. 5 (10 points)**    
Sum the immigration for all the years from the following continents - Africa, Asia, Europe, Latin America, and Oceania. Print the name of the continent and the total immigration.

In [28]:
continents = ['Africa', 'Asia', 'Europe', 'Latin America and the Caribbean', 'Oceania']
for i in continents:
  print(i, df[df['Continent'] == i].iloc[:, -1].sum())

Africa 618948
Asia 3317794
Europe 1410947
Latin America and the Caribbean 765148
Oceania 55174

**Q. 6 (10 points)**.  
Which country in each of the continents - Africa, Asia, Europe, Latin America, and Oceania had the largest total immigration? Print the continent, country, and total immigration.

In [29]:
continents = ['Africa', 'Asia', 'Europe', 'Latin America and the Caribbean', 'Oceania']
for i in continents:
  print(i, df[df['Continent'] == i].iloc[:, -1].idxmax(), df[df['Continent'] == i].iloc[:, -1].max())

Africa Egypt 72745
Asia India 691904
Europe United Kingdom of Great Britain and Northern Ireland 551500
Latin America and the Caribbean Jamaica 106431
Oceania Australia 23829

**Q. 7 (10 points)**.  
Print the name of each country and the range (max - min) of the total immigration.

In [30]:
pd.set_option('display.max_rows', None)
print(df.iloc[:-1, 2:-1].max(axis = 1) - df.iloc[:-1, 2:-1].min(axis = 1))

Country
Afghanistan                                              4051
Albania                                                  1816
Algeria                                                  5349
American Samoa                                              2
Andorra                                                     3
Angola                                                    294
Antigua and Barbuda                                        61
Argentina                                                1549
Armenia                                                   267
Australia                                                 804
Austria                                                   181
Azerbaijan                                                359
Bahamas                                                    48
Bahrain                                                    39
Bangladesh                                               4640
Barbados                                                  306
Belarus                                                   568
Belgium                                                   359
Belize                                                     40
Benin                                                     395
Bhutan                                                   1879
Bolivia (Plurinational State of)                          214
Bosnia and Herzegovina                                   3007
Botswana                                                   76
Brazil                                                   2468
Brunei Darussalam                                         102
Bulgaria                                                 2011
Burkina Faso                                              321
Burundi                                                   684
Cabo Verde                                                 16
Cambodia                                                  522
Cameroon                                                 2505
Canada                                                      4
Central African Republic                                  169
Chad                                                      148
Chile                                                    1575
China                                                   41057
China, Hong Kong Special Administrative Region            897
China, Macao Special Administrative Region                 33
Colombia                                                 6321
Comoros                                                    22
Congo                                                     143
Costa Rica                                                253
Côte d'Ivoire                                            1164
Croatia                                                   993
Cuba                                                     1392
Cyprus                                                    128
Czech Republic                                            524
Democratic People's Republic of Korea                      97
Democratic Republic of the Congo                         2039
Denmark                                                   237
Djibouti                                                  201
Dominica                                                   91
Dominican Republic                                        699
Ecuador                                                   489
Egypt                                                    5634
El Salvador                                              7014
Equatorial Guinea                                          11
Eritrea                                                  1719
Estonia                                                    89
Ethiopia                                                 2109
Fiji                                                     1554
Finland                                                   157
France                                                   5111
Gabon                                                     101
Gambia                                                     51
Georgia                                                   147
Germany                                                  2706
Ghana                                                    2404
Greece                                                    991
Grenada                                                   350
Guatemala                                                2048
Guinea                                                    463
Guinea-Bissau                                              12
Guyana                                                   5518
Haiti                                                    5208
Honduras                                                  814
Hungary                                                   934
Iceland                                                    70
India                                                   31999
Indonesia                                                1038
Iran (Islamic Republic of)                              10119
Iraq                                                     5965
Ireland                                                  1253
Israel                                                   2726
Italy                                                    1737
Jamaica                                                  4343
Japan                                                    1086
Jordan                                                   1838
Kazakhstan                                                884
Kenya                                                     939
Kiribati                                                    2
Kuwait                                                    187
Kyrgyzstan                                                278
Lao People's Democratic Republic                           68
Latvia                                                    213
Lebanon                                                 12779
Lesotho                                                     9
Liberia                                                   580
Libya                                                     379
Liechtenstein                                               7
Lithuania                                                 220
Luxembourg                                                 17
Madagascar                                                219
Malawi                                                     28
Malaysia                                                 2142
Maldives                                                    7
Mali                                                      188
Malta                                                     238
Marshall Islands                                            2
Mauritania                                                124
Mauritius                                                1319
Mexico                                                   3833
Monaco                                                      4
Mongolia                                                  169
Montenegro                                                 26
Morocco                                                  5994
Mozambique                                                 12
Myanmar                                                  1869
Namibia                                                    83
Nauru                                                       4
Nepal                                                    1391
Netherlands                                              1494
New Caledonia                                               2
New Zealand                                               462
Nicaragua                                                2044
Niger                                                     105
Nigeria                                                  4114
Norway                                                     85
Oman                                                       18
Pakistan                                                16194
Palau                                                       1
Panama                                                    650
Papua New Guinea                                            9
Paraguay                                                   73
Peru                                                     1643
Philippines                                             35467
Poland                                                  16320
Portugal                                                 8241
Qatar                                                      21
Republic of Korea                                        8772
Republic of Moldova                                      1988
Romania                                                  5390
Russian Federation                                       4388
Rwanda                                                    562
Saint Kitts and Nevis                                      52
Saint Lucia                                               335
Saint Vincent and the Grenadines                          446
Samoa                                                       7
San Marino                                                  1
Sao Tome and Principe                                       2
Saudi Arabia                                              330
Senegal                                                   942
Serbia                                                    395
Seychelles                                                368
Sierra Leone                                              409
Singapore                                                1141
Slovakia                                                  615
Slovenia                                                   47
Somalia                                                  5787
South Africa                                             2095
Spain                                                     253
Sri Lanka                                               12917
State of Palestine                                        654
Sudan                                                    1855
Suriname                                                   54
Swaziland                                                  39
Sweden                                                    185
Switzerland                                               622
Syrian Arab Republic                                     1527
Tajikistan                                                 85
Thailand                                                  522
The former Yugoslav Republic of Macedonia                 638
Togo                                                      398
Tonga                                                       9
Trinidad and Tobago                                      3947
Tunisia                                                  1581
Turkey                                                   1863
Turkmenistan                                               40
Tuvalu                                                      2
Uganda                                                    226
Ukraine                                                  3520
United Arab Emirates                                       86
United Kingdom of Great Britain and Northern Ireland    33404
United Republic of Tanzania                               696
United States of America                                 5753
Uruguay                                                   390
Uzbekistan                                                330
Vanuatu                                                     4
Venezuela (Bolivarian Republic of)                       1349
Viet Nam                                                 6392
Western Sahara                                              1
Yemen                                                     217
Zambia                                                     95
Zimbabwe                                                 1421
dtype: int64

**Q. 8 (10 points)**    
For the countries in the Region named as Caribbean find the total immigration in the two decades (1980 to 1989) and (1990 - 1999). Print the decades as (Eighties and Nineties) and the total immigration for these decades.

In [31]:
print("1980 to 1989:", df[df["Region"] == "Caribbean"].iloc[:, 2:12].sum(axis = 1).sum())
print()
print("1990 to 1999:", df[df["Region"] == "Caribbean"].iloc[:, 12:22].sum(axis = 1).sum())

1980 to 1989: 81943

1990 to 1999: 106365

**Q. 9 (10 points)**.  
The Scandinavian countries are Denmark, Norway, and Sweden. For each of the years (from 1980 to 2013) find the difference between the country with the highest immigration and the country with the lowest immigration. Print the year and the difference.

In [32]:
df.loc[["Denmark", "Norway", "Sweden"], :].iloc[:, 2:-1].max() - df.loc[["Denmark", "Norway", "Sweden"], :].iloc[:, 2:-1].min()

1980    165
1981    231
1982    193
1983    125
1984     97
1985    104
1986    131
1987    118
1988     98
1989    106
1990     47
1991     64
1992    105
1993    111
1994    132
1995    111
1996     91
1997     68
1998     92
1999    134
2000     82
2001    106
2002     79
2003     84
2004     56
2005    148
2006     86
2007    120
2008     99
2009     92
2010    113
2011     85
2012     87
2013     81
dtype: int64

**Q. 10 (10 points)**.  
Find the countries in Africa that had the highest and lowest immigration for each of the years. Print the year, name of the country with highest immigration, immigration number, name of the country with the lowest immigration, and the immigration number.

In [33]:
new_df = {"year" : df.columns[2:-1],
          "country with highest immigration" : df[df["Continent"] == "Africa"].iloc[:, 2:-1].idxmax(),
          "highest immigration number" : df[df["Continent"] == "Africa"].max()[2:-1],
          "coutnry with lowest immigration": df[df["Continent"] == "Africa"].iloc[:, 2:-1].idxmin(),
          "lowest immigration number" : df[df["Continent"] == "Africa"].min()[2:-1]}
immigration_africa = pd.DataFrame(new_df)
immigration_africa.set_index("year", inplace=True)
immigration_africa

,country with highest immigration,highest immigration number,coutnry with lowest immigration,lowest immigration number
year,,,,
1980,South Africa,1026,Burundi,0
1981,South Africa,1118,Burundi,0
1982,South Africa,781,Burundi,0
1983,United Republic of Tanzania,474,Burundi,0
1984,United Republic of Tanzania,473,Central African Republic,0
1985,United Republic of Tanzania,460,Central African Republic,0
1986,South Africa,718,Central African Republic,0
1987,South Africa,1470,Comoros,0
1988,South Africa,1305,Equatorial Guinea,0
1989,Egypt,1663,Equatorial Guinea,0
1990,Egypt,2365,Equatorial Guinea,0
1991,Somalia,3266,Eritrea,0
1992,Somalia,5794,Comoros,0
1993,Somalia,3734,Eritrea,0
1994,Egypt,2375,Botswana,0
1995,Egypt,2821,Equatorial Guinea,0
1996,Egypt,2561,Equatorial Guinea,0
1997,Egypt,2137,Namibia,0
1998,Algeria,2292,Botswana,0
1999,Algeria,2389,Equatorial Guinea,0
2000,Algeria,2867,Western Sahara,0
2001,Morocco,4067,Lesotho,0
2002,Morocco,4174,Sao Tome and Principe,0
2003,Morocco,3369,Sao Tome and Principe,0
2004,Morocco,3686,Western Sahara,0
2005,Algeria,3626,Western Sahara,0
2006,Algeria,4807,Lesotho,0
2007,Morocco,4021,Sao Tome and Principe,0
2008,Morocco,4226,Sao Tome and Principe,0
2009,Morocco,5532,Guinea-Bissau,0
2010,Morocco,6242,Western Sahara,0
2011,Egypt,4663,Sao Tome and Principe,0
2012,Egypt,5555,Lesotho,0
2013,Algeria,4331,Guinea-Bissau,0